{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}
{% block content %}

<div class="container" style="width:250rem;height:53rem;margin-top:5rem;">


    <div class="row justify-content-center">
            <div class="col-md-9 col-md-3 col-lg-6 col-xl-5 order-lg-2 offset-xl-1 mb-4">
              <div class="img-wrap text-center text-md-left aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                <div class="img">
                  <img src="/static/assets/about_book.jpg" alt="circle image" class="img-fluid">
                </div>
              </div>
            </div>

            <div class="offset-md-0 offset-lg-1 col-sm-12 col-md-5 col-lg-5 col-xl-4 aos-init aos-animate" data-aos="fade-up">
              <div class="px-1">
                <span class="content-subtitle">Our Mission</span>
                <h2 class="content-title text-start">
                  "Reading: The Best Way to Travel Without Leaving Home."
                </h2>
                <p class="lead">
                  At Wander World, we believe books are like magic spells — they can transport you to new worlds, introduce you to unforgettable characters, and make you laugh, cry, and everything in between. Our mission? To make sure you never run out of pages to turn (or adventures to dive into)!

Whether you’re a lifelong bookworm, a casual reader, or someone who just found out the joy of reading, we're here to help you find your next great story. We’re all about connecting you with books that’ll make you smile, think, or even stay up past your bedtime (don’t worry, we won’t tell anyone).

So, grab a cozy blanket, a cup of coffee (or tea — we don’t judge), and let’s get reading! 📚✨


                </p>
                <p class="mb-5">
                  "Let’s Join Our Community and Read Beyond the Pages!"
                </p>
                <p>
                  <a href="#" class="btn-get-started">Get Started</a>
                </p>
              </div>
            </div>
          </div>

</div>


{% endblock %}