<link href="../static/css/add_form_style.css" rel="stylesheet">
{% extends 'base.html' %}
{% block title %} Add new book {% endblock %}
{% from 'bootstrap5/form.html' import render_form %}
{% block content %}

<div class="container">
    <h1>Add New Book</h1>
    <form action="{{url_for('add')}}" method="POST">
        {{ add_form.hidden_tag() }}
  <div class="mb-3">
    <label  class="form-label">Book Name</label>
    <input type="text"  name="title" class="form-control">

  </div>
  <div class="mb-3">
    <label  class="form-label">Author</label>
    <input type="text"  name="author" class="form-control">
  </div>
        <div class="mb-3">

    <label class="form-label" > Book Image link</label>
      <input type="text" class="form-control" name="image">
        <label class="form-label" >Book Shop link</label>
      <input type="text" class="form-control" name="shop">
  </div>
  <div class="mb-3">

    <label class="form-label" >Rating</label>
      <input type="text" class="form-label" name="rating">
  </div>

  <button class="btn btn-primary btn-md" type="submit">Add Book</button>
</form>
</div>
{% endblock %}