

{% extends 'base.html' %}
{% block title %} Edit Rating {% endblock %}
{% from 'bootstrap5/form.html' import render_form %}
{% block content %}

<div class="container" style="width:50rem;height:80rem;margin-top:5rem;" >
 <div class="card text-bg-dark">
  <img src="{{book.image}}" class="card-img" alt="book" >
  <div class="card-img-overlay">
    <h5 class="card-title">{{book.title}}</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text"><small>By: {{book.author}}</small></p>


    <form class="row g-3" action="{{url_for('edit')}}" method="POST">
        {{ edit_form.hidden_tag() }}
  <div class="col-auto">
    <label class="visually-hidden">Email</label>
    <input type="text" readonly class="form-control-plaintext" value="Rating {{book.rating}}" style="color:white;font-weight:20px">
  <input hidden="hidden" name="id" value="{{book.id}}">
  </div>
  <div class="col-auto">
    <label class="visually-hidden">New Rating</label>
    <input type="text" class="form-control" name="rating" placeholder="New Rating">
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3">Update</button>
  </div>
</form>
 </div>
</div>
</div>
{% endblock %}