<link href="../static/css/book_list.css" rel="stylesheet">
<script src="https://kit.fontawesome.com/f1ff49199a.js" crossorigin="anonymous"></script>


{% extends 'base.html' %}
{% block title %} My Huge BookShelf {% endblock %}


{% block content %}
<h1>My BookShelf</h1>
<div class="container  d-flex align-items-center">


<ul class="card-list">
    {% for book in books %}
<li class="list-group-item card-item ">
    <div class="card">
        <a href="{{url_for('delete',id=book.id)}}" >
            <i class="fa-solid fa-circle-xmark fa-1x" style="position: absolute; top:10px; right:10px; cursor:pointer;color:black"></i>
        </a>

  <img src="{{book.image}}" alt="Book Image" >
        <div class="card-body">
    <h5 class="card-title">{{book.title}}</h5>
            <span class="badge text-bg-primary rounded-pill" style="float:right;">{{book.rating}}</span>
    <p class="card-text">By author: {{book.author}}</p>
    <a href="{{url_for('edit',id=book.id)}}" class="btn btn-primary">Update Rating</a>
      <a href="{{url_for('shop', id=book.id)}}" class="btn btn-success">Shop</a>

  </div>
</div>
    </li>
    {% endfor %}
</ul>

<!--d-flex justify-content-center mt-2  -->
</div>
    <div class="d-grid gap-1 col-2 mx-auto" style="padding: 2rem;">
    <a href="{{url_for('add')}}" class="btn btn-success align-items-baseline btn-lg" role="button">Add Book</a>
    </div>

{% endblock %}