@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

.container{
margin-top:5rem;
width:50rem;
color: red;
}

h1{
text-align: center;
padding-bottom: 1rem;
}

.card-list {
    display: flex;
    flex-direction: row;

    align-items:center;

    padding: 0;
    list-style: none;
    gap: 3rem;
    flex-wrap:wrap;
}

.card-item {

    flex: 1;                     /* Allows each card to take equal width */
    min-width: 250px;            /* Sets a minimum width for each card */
}

.card {
    width: 18rem;                 /* Ensure the card takes full width within the item */
}
