blinker @ file:///C:/b/abs_d9y2dm7cw2/croot/blinker_1696539752170/work
certifi==2024.7.4
charset-normalizer==3.3.2
click @ file:///C:/b/abs_f9ihnt72pu/croot/click_1698129847492/work
colorama @ file:///C:/ci_311/colorama_1676422310965/work
Flask @ file:///C:/b/abs_f9w7doyu0h/croot/flask_1716545924884/work
idna==3.7
itsdangerous @ file:///C:/b/abs_c4vwgdr5yn/croot/itsdangerous_1716533399914/work
Jinja2 @ file:///C:/b/abs_92fccttino/croot/jinja2_1716993447201/work
MarkupSafe @ file:///C:/b/abs_ecfdqh67b_/croot/markupsafe_1704206030535/work
requests==2.32.3
urllib3==2.2.2
Werkzeug @ file:///C:/b/abs_8bittcw9jr/croot/werkzeug_1716533366070/work
flask~=3.0.3
wtforms~=3.0.1
sqlalchemy~=2.0.25