<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Get a Quote</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/quote_styles.css">
</head>
<body>
<h1>YOUR CONTACT INFORMATION</h1>

<div class="container mt-5">
<form class="row g-3 col-md-6 mx-right">
  <div class="col-md-6">
    <label for="inputFirstName" class="form-label" >First Name</label>
    <input type="email" class="form-control" id="inputFirstName" placeholder="John" required>
  </div>
  <div class="col-md-6">
    <label for="inputLastName" class="form-label">Last Name</label>
    <input type="password" class="form-control" id="inputLastName" placeholder="Do" required>
  </div>

  <div class="col-md-4">
    <label for="inputEmail" class="form-label" >Email</label>
    <input type="email" class="form-control" id="inputEmail" placeholder="example@gmail.com" required>
  </div>
  <div class="col-md-4">
    <label for="inputPhone" class="form-label">Phone Number</label>
    <input type="password" class="form-control" id="inputPhone" required>
  </div>

  <div class="col-12">
    <label for="inputAddress" class="form-label">Address</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
  </div>
  <div class="col-12">
    <label for="inputAddress2" class="form-label">Address 2</label>
    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
  </div>
  <div class="col-md-6">
    <label for="inputCity" class="form-label">City</label>
    <input type="text" class="form-control" id="inputCity" placeholder="Oakville">
  </div>
  <div class="col-md-4">
    <label for="inputState" class="form-label">Province</label>
    <select id="inputState" class="form-select">
      <option selected>Choose...</option>

         {% for province in provinces %}
           <option>   {{province}} </option>
         {% endfor %}

    </select>
  </div>
  <div class="col-md-2">
    <label for="inputZip" class="form-label">Zip</label>
    <input type="text" class="form-control" id="inputZip">
  </div>

  <h1>TELL US ABOUT YOUR MOVE</h1>
  <div class="col-md-6">
    <label for="movingFrom" class="form-label">Moving From</label>
    <input type="email" class="form-control" id="movingFrom" aria-describedby="emailHelp">
  </div>
  <div class="col-md-6">
    <label for="movingTo" class="form-label">Moving To</label>
    <input type="password" class="form-control" id="movingTo">
  </div>
   <div class="col-md-6">
    <label for="typeOfMove" class="form-label">Type of Move</label>
    <select id="typeOfMove" class="form-select">
         {% for move_type in type_list %}
           <option>   {{move_type}} </option>
         {% endfor %}

    </select>
  </div>
  <div class="col-md-4">
    <label for="movingDate" class="move-date">Move Date</label>
    <input type="date" id="movingDate" name="moving-date">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

    </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"></script>
</body>
</html>